@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
    margin: 0px;
    padding: 0px;    
}
html {
    font-size: 20px;
}
body {
    background-color: white;
    /* background-image: linear-gradient(to right bottom, #aaffc5, #8ffbdc, #81f4ef, #85ebfb, #96e1ff, #98dfff, #9bdeff, #9ddcff, #89e4ff, #75edff, #64f4fc, #5ffbf1); */
    /* background-image: linear-gradient(to bottom, #6f7567, #9ca797, #aeb8ab, #c5ccc5, #cbd3cc, #d9e1da, #e7efe9, #f5fdf7, #f5fdf7, #f5fdf7, #f5fdf7, #f5fdf7, #f5fdf7, #f5fdf7, #f5fdf7, #f5fdf7, #f5fdf7, #f5fdf7, #f5fdf7); */
    width: 100%;
    height: 100%;
}
/*grin Home*/
.gridHome {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
     "Frente Frente"
     "criptoVid Publicidad"
     "tablaFondo tablaFondo"
     "footer footer";
     align-content: 3rem; 
}
/*Barra navegacion*/
.barra {
    z-index: 5;
    position: fixed;
    color: rgb(185, 248, 193);
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(220, 221, 221);
}
#Logo {
    margin: -1.25rem 0.5rem;
    height: 4.5rem;
    width: 4.5rem;
}
.ulBarra {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    overflow: hidden;
    padding-right: 40px;
    padding-left: 10px;
}
li  {
    float: left;   
}
li a {
    display: block;
    color: rgb(129, 128, 113);
    font-family: 'Staatliches', cursive;
    text-align: center;
    text-decoration: none; 
    font-size: 1.3rem;
}
li a:hover {
    color: rgb(53, 54, 52);
    transform: scale(1.05);
}
/*seccion inicial IronRigs y leyenda*/
.Frente {
    grid-area: Frente;
    width: 100%;
}
#ironrigs{
    z-index: 4;
    /* color: rgb(91, 95, 91); */
    background: -webkit-linear-gradient(rgba(241, 248, 216, 0.808),rgba(216, 219, 0, 0.884));
    /* background: -webkit-linear-gradient(rgba(255, 173, 251, 0.692),rgba(243, 245, 119, 0.76)); */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(14, 6, 83, 0.815);
    /* -webkit-text-stroke: 1px rgb(37, 33, 33); */
    font-family: 'Staatliches', cursive;
    font-size: 10rem;
    padding: 2rem 0px 0px 0px;
    letter-spacing: 1rem;
    text-align: center;
    animation-duration: 3s;
    animation-name: animacion;
    animation-iteration-count: initial;
}
#Crypto {
    font-size: 1.3rem;
    padding: 1rem;
    font-family: 'Staatliches', cursive;
    font-style: italic;
    position: absolute;
    left: 57%;
    top: 11rem;
    animation-duration: 4s;
    animation-name: animacion;
    animation-iteration-count: initial;
    color: rgb(54, 54, 54);
}
@keyframes animacion {
    0% {
        opacity: 0%;
        top: 13rem;
    }
    100% {
        opacity: 100%;
        top: 11rem;
    }
}
#bitcoin {
    z-index: 3;
    width: 4rem;
    height: 4rem;
    padding-left: 4rem;
    animation-duration: 1.5s;
    animation-name: coin;
    animation-iteration-count: initial;
}
@keyframes coin {
    0% {
        transform: scale(0);
        /* transform: rotatez(0deg); */
    }
    60% {
        transform: scale(1.25);
        /* transform: rotatez(245deg); */
    }
    85% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        /* transform: rotatez(360deg); */
    }
}
#ethereum {
    z-index: 3;
    width: 6rem;
    height: 6rem;
    float: right;
    padding-right: 4rem;
    animation-duration: 1.4s;
    animation-name: coin1;
    animation-iteration-count: initial;
}
@keyframes coin1 {
    0% {
        transform: scale(0);
        transform: skew(0deg,0deg);
    }
    40% {
        transform: skew(-20deg,-10deg);
    }
    80% {
        transform: scale(1.25);
        transform: skew(20deg,10deg);
    }
    100% {
        transform: scale(1);
        transform: skew(0deg,0deg);
    }
}
/*Tabla*/
.tablaFondo {
    grid-area: tablaFondo;
    background-color: rgb(33, 36, 36);
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
}
#Titulo {  
    font-family: 'Staatliches', cursive;
    font-size: 1.3rem;
    color: rgb(96, 83, 180);
}
.tablaHome {
    text-align: center;
    color: rgb(236, 255, 128);
    font-family: Arial, Helvetica, sans-serif;
}
#contactoTabla {
    color: rgb(121, 102, 230);
}
th {
    padding: 0.25rem 0px 0.25rem 0px;
}
td {
    font-family: 'Staatliches', cursive;
    font-size: 0.8rem;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}
/*MAIN*/
.criptoVid {
    grid-area: criptoVid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    margin: 5%;
    grid-column-gap: 3rem;
    grid-row-gap: 10rem;
    margin-bottom: 5rem;
}
#Video1 {
    float: center;
    width: 38rem;
    margin-top: 6rem;
}
#youtube1{
    float: left;
    margin-top: -6rem;
    width: 18rem;
    height: 13rem;
}
#youtube1:hover{
    transform: skewY(50deg,50deg);
}
#youtube2 {
    float: right;
    width: 18rem;
    height: 13rem;
}
#text1 {
    position: relative;
    text-align: center;
    margin-top: -15rem;
    font-family: 'Staatliches', cursive;
    /* font-style: italic; */
    font-size: 1.5rem;
    color: rgb(33, 36, 36);
}
#text2 {
    position: relative;
    text-align: right;
    font-family: 'Staatliches', cursive;
    /* font-style: italic; */
    padding: 1rem;
    font-size: 1rem;
    margin-top: -6rem;
    color: rgb(33, 36, 36);
    background-color: rgb(231, 229, 121);
    transform: skew(-10deg,-2deg);
}
#text3 {
    position: relative;
    text-align: left;
    padding: 1rem;
    font-family: 'Staatliches', cursive;
    font-style: italic;
    font-size: 1rem;
    color: rgb(33, 36, 36);
    background-color: rgb(140, 148, 255);
    transform: skew(10deg,2deg);
}
/*Publicidad*/
.Publicidad {
    grid-area: Publicidad;
    margin: 0;
    position: -webkit-sticky;
    position: sticky; top: 30%;
    justify-self: stretch;
    height: 20%;
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 1.3rem;
}
#fotoPubli {
    width: 7rem;
    float: right;
}
/*Footer*/
#happyM {
    grid-area: footer;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    letter-spacing: 5px;
    word-spacing: 0.5rem;
    background-image: linear-gradient(to right top, #f1a4cf, #ffb2b8, #ffcaa8, #ffe5ab, #edffc4);
    /* background-color: rgb(252, 225, 166); */
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 1rem;
}
/*Formulario*/
#formulario {
    padding: 5rem 15rem 0rem 15rem;
    margin-bottom: 2.5rem;
}
#rellenoForm {
    font-family: 'Staatliches', cursive;
    padding: 1rem 2rem 1rem 2rem;
    word-spacing: 0.2rem;
}
#leyenda {
    font-family: 'Staatliches', cursive;
    text-align: center;
}
#textArea {
    color: rgb(56, 56, 55);
    width: 17.5rem;
    height: 5rem;
}
/*Galeria equipos armados*/
.Galeria {
    margin: 0px;
    padding: 5% 17% 10% 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
}
#img {
    margin: 0px 0px 2.5rem 0px;
    position: relative;
    top: 1.5rem;
    left: 4rem;
    border: 0.1rem solid;
    border-color: rgba(73, 60, 255, 0.733);
    width: 35%;
    height: 35%;
    transition: all 0.5s;
}
#img:hover {
    width: 39%;
    height: 39%;
}
#img1 {
    margin: 0px 3rem 2.5rem 5rem;
    position: relative;
    top: 1.5rem;
    left: 3.5rem;
    border: 0.1rem solid;
    border-color: rgba(73, 60, 255, 0.733);
    width: 20%;
    height: 20%;
    transition: all 0.5s;
}
#img1:hover {
    width: 24%;
    height: 24%;
}
/*Proyecto*/
.proyecto {
    text-align: center;
    float:none;
    padding-top: 100px;
    margin-bottom: 50px;
}
#textoLorem {
    text-align: center;
    color: black;
}
